.container{
  display: flex;
  text-align: center;
  font-family: Roboto;
}

.column-1 {
  min-width: 150px;
  max-width: 40em;
  width: 100%;
}

.column-2 {

}

.search-form {
  text-align: center;
  font-family: Roboto;
}

.toggle-div{
  font-size: 160%;
  margin-top: 2em;
  margin-bottom: 5px;
  margin-inline-start: 1em;
}

.email-card {
  display: flex;
}
