

  <form #keywordSearch="ngForm" ngNativeValidate class="container search-form">
    <div class="column-1">
      <mat-form-field class="search-input">
        <input
          matInput
          placeholder="app search"
          type="text"
          [(ngModel)]="searchKeyWord"
          (keyup)="updateSearch(keywordSearch)"
          name="searchKeyWord"
          [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let application of this.foundApps" [value]="option" (click)="doApplicationThings(application, selectedRegion)">
              {{application.name}}
            </mat-option>
          </mat-autocomplete>

      </mat-form-field>

      <mat-spinner *ngIf="this.thinking"></mat-spinner>

      <div *ngIf="this.data_recieved" class="percentages">
        <div class="percentage-column">
          <h2>Bad reviews related <br> to power</h2>
          <h2 class="big-number">{{powerPercentage}}%</h2>
        </div>
        <div class="percentage-column">
            <h2>Bad reviews related <br> to performance</h2>
            <h2 class="big-number">{{performancePercentage}}%</h2>
        </div>
      </div>

      <mat-accordion *ngIf="!this.sent_email && data_recieved">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> learn more </mat-panel-title>
            <mat-panel-description> Give us your email plz </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput [(ngModel)]="userEmail" name="userEmail" placeholder="email">
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" [disabled]="!validEmail(userEmail)" (click)="submitEmail(userEmail)">submit</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-paginator [length]="reviews.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="onPage($event)">
      </mat-paginator>

      <div *ngIf="this.sent_email" class="reviews">
        <mat-list>
          <mat-list-item *ngFor="let review of viewableReviews">
            <h3 matLine> {{review.rating}}/5 </h3>
            <p matLine>
              <span> {{review.content}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="column-2">
      <div class="toggle-div">
        app store <mat-slide-toggle (change)="onChange($event)"></mat-slide-toggle> play store
      </div>
      <mat-form-field>
        <mat-select placeholder="region" [(ngModel)]="selectedRegion" name="region">
          <mat-option *ngFor="let region of appStoreRegions" [value]="region">
            {{region.country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
