.container{
  display: flex;
  text-align: center;
  font-family: Roboto;
}

.toggle-div{
  font-size: 160%;
  margin-top: 2em;
  margin-inline-start: 1em;
}

.search-form {
  text-align: center;
  font-family: Roboto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-input {
  width: 100%;
  font-size: 200%;
}

.search-result {

}

.percentages {
  display: flex;
}

.percentage-column {
  margin: 20px;
}

.big-number{
  font-size: 500%;
  text-align: center;
  margin-top: 0;
}
