.container{
  display: flex;
  text-align: center;
  font-family: Roboto;
}

.column-1 {
  min-width: 150px;
  max-width: 40em;
  width: 100%;
}

.column-2 {

}

.search-form {
  text-align: center;
  font-family: Roboto;
}

.search-input {
  width: 100%;
  font-size: 200%;
}

.toggle-div{
  font-size: 160%;
  margin-top: 2em;
  margin-bottom: 5px;
  margin-inline-start: 1em;
}

.details-data {
  text-align: left;
  margin: 20px;
}

.percentages {
  display: flex;
}

.percentage-column {
  margin: 20px;
}

.big-number{
  font-size: 500%;
  text-align: center;
  margin-top: 0;
}

.reviews {
  display: flex;
}

.review-column-1 {
  min-width: 16em;
}

.review-column-2 {
  min-width: 16em;
}

.review-paginator {
  max-width: 20em;
}

.review-item {
  display: block;
  text-align: left;
}

.star-icon {
    color: #ffe400;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.star-icon svg {
    fill: #ffe400;
}
