<form #keywordSearch="ngForm" ngNativeValidate class="container search-form">
  <div class="column-1">
    <search-bar></search-bar>

    <review-stats></review-stats>

    <mat-spinner *ngIf="this.thinking"></mat-spinner>
    
    <button mat-button *ngIf="!emailCardVisible && !this.sent_email && data_recieved" (click)="toggleEmailCard()">Click here to learn more</button>

    <mat-card *ngIf="emailCardVisible && !this.sent_email && data_recieved" class="email-card">
      <input matInput [(ngModel)]="userEmail" name="userEmail" placeholder="email">
      <button mat-button color="primary" [disabled]="!validEmail(userEmail)" (click)="submitEmail(userEmail)">submit</button>
    </mat-card>

    <div *ngIf="data_recieved" class="reviews">
      <div class="review-column-1">
        <h3 *ngIf="powerReviews.length == 0 && this.sent_email"> No bad reviews related to Power 👍 </h3>
        <mat-paginator #powerPaginator
                      *ngIf="relevantPowerReviews.length > 0"
                      [length]="relevantPowerReviews.length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="onPowerPage($event)"
                      class="review-paginator">
        </mat-paginator>

        <div *ngIf="this.sent_email" class="power-reviews">
          <ul>
            <li *ngFor="let review of viewablePowerReviews; index as i;" class="review-item">
              <mat-icon *ngFor="let star of starArray(review.review.rating)" class=star-icon>star</mat-icon>
              <p > {{review.review.content}} </p>
              <div class="review-subtext">
                <p *ngFor="let keyword of review.keywords" > {{keyword}} </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="review-column-2">
        <h3 *ngIf="performanceReviews.length == 0 && this.sent_email"> No bad reviews related to Preformance 👍 </h3>
        <mat-paginator #performancePaginator
                       *ngIf="relevantPreformanceReviews.length > 0"
                       [length]="relevantPreformanceReviews.length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPerformancePage($event)"
                       class="review-paginator">
        </mat-paginator>
        <!-- <mat-paginator *ngIf="relevantPreformanceReviews.length > 0"
                      [length]="relevantPreformanceReviews.length"
                      [pageSize]="pageSize"
                      [pageIndex]="performancePageIndex"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="onPerformancePage($event)"
                      class="review-paginator">
        </mat-paginator> -->

        <div *ngIf="this.sent_email" class="performance-reviews">
          <ul>
            <li *ngFor="let review of viewablePerformanceReviews; index as i;" class="review-item">
              <mat-icon *ngFor="let star of starArray(review.review.rating)" class=star-icon>star</mat-icon>
              <p > {{review.review.content}} </p>
              <div class="review-subtext">
                <p *ngFor="let keyword of review.keywords" > {{keyword}} </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="column-2">
    <div class="toggle-div">
      app store <mat-slide-toggle (change)="onChange($event)"></mat-slide-toggle> play store
    </div>
    <mat-form-field>
      <mat-select placeholder="region" [(ngModel)]="selectedRegion" name="region">
        <mat-option *ngFor="let region of appStoreRegions" [value]="region">
          {{region.country}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>
